.App {
  text-align: left;
}

.App-header {
  background-color: #FFF2CC;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.YellowBox {
  background-color: #FFF2CC;
  padding: 10px 10px 10px 50px;
  margin: 10px 10px 10px 10px;
}

.firebaseUi {
  min-width: 250px;
}

.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 30%;
}

/* Middle column */
.column.main {
  width: 70%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.text.small {
  font-size: calc(10px + 0.5vmin);
  color: grey;
}

.Comment {
  padding-left: 10px;
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10pt;
}