.App {
  text-align: center;
}

.App-header {
  background-color: #FFF2CC;
  border: 1pt solid #D6B656;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.RoomBox {
  background-color: white;
  border: 1pt solid #D6B656;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px; 
  width: 500px;
  text-align: center;
  min-height: 40vh;
  max-height: 40vh;
}

.firebaseUi {
  min-width: 250px;
}